<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocDecoratorVisibility</key>
	<string>modelStageFormat</string>
	<key>cartesianTangentPadding</key>
	<string>compositionalSubpixelPressure</string>
	<key>configurationAtPhase</key>
	<string>grayscaleStateOpacity</string>
	<key>exceptionDespiteFlyweight</key>
	<string>vectorOrPrototype</string>
	<key>mediaProxySkewy</key>
	<string>resourceVarAlignment</string>
	<key>titleActionCenter</key>
	<string>monsterPerPrototype</string>
	<key>variantAdapterBrightness</key>
	<string>lostHeroDensity</string>
	<key>visibleExtensionDepth</key>
	<string>musicBeyondTemple</string>
</dict>
</plist>
