<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedRouterState</key>
	<string>routerStructureTop</string>
	<key>interfaceBridgeBorder</key>
	<string>musicFromCycle</string>
	<key>lastGridAlignment</key>
	<string>stepContainPlatform</string>
	<key>typicalFragmentDensity</key>
	<string>customizedStoreBound</string>
</dict>
</plist>
