<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedSceneBrightness</key>
	<string>tangentInsideKind</string>
	<key>mobileCursorTag</key>
	<string>getxJobForce</string>
	<key>musicAndCommand</key>
	<string>autoStatePressure</string>
	<key>navigatorChainShape</key>
	<string>modulusContainFacade</string>
	<key>zoneDecoratorTransparency</key>
	<string>dedicatedMethodForce</string>
</dict>
</plist>
