<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarParamRate</key>
	<string>capacitiesObserverPadding</string>
	<key>graphFromLayer</key>
	<string>gestureValuePadding</string>
	<key>immutableOverlayOrientation</key>
	<string>axisSinceState</string>
	<key>mediaOfJob</key>
	<string>otherProfileDirection</string>
	<key>monsterProcessCount</key>
	<string>graphVariableOrigin</string>
	<key>oldSingletonRotation</key>
	<string>chartFlyweightFrequency</string>
</dict>
</plist>
