<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accordionDrawerIndex</key>
	<string>viewInSingleton</string>
	<key>modelLevelInterval</key>
	<string>hashFrameworkMomentum</string>
	<key>modelViaVisitor</key>
	<string>baseMethodSkewx</string>
	<key>originalDecorationHead</key>
	<string>concurrentReducerForce</string>
	<key>originalParticleDistance</key>
	<string>usageBesideEnvironment</string>
	<key>rapidHeapSaturation</key>
	<string>riverpodObserverValidation</string>
	<key>textThroughStyle</key>
	<string>canvasParamPadding</string>
</dict>
</plist>
