<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxLevelSize</key>
	<string>profileCompositeStatus</string>
	<key>completerOfDecorator</key>
	<string>asyncButtonShade</string>
	<key>disabledSineStyle</key>
	<string>stateAmongProxy</string>
	<key>gesturedetectorOrForm</key>
	<string>monsterDuringBridge</string>
	<key>globalTickerShape</key>
	<string>activatedTitlePadding</string>
	<key>multiFutureIndex</key>
	<string>cupertinoMobileBound</string>
	<key>rapidStoreCoord</key>
	<string>protocolLikeActivity</string>
	<key>rectAgainstEnvironment</key>
	<string>completerMediatorPressure</string>
	<key>temporaryConstraintEdge</key>
	<string>discardedTaskCount</string>
</dict>
</plist>
