<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterContextMode</key>
	<string>greatDurationDensity</string>
	<key>dimensionCompositeAppearance</key>
	<string>graphFrameworkCount</string>
	<key>exceptionVersusNumber</key>
	<string>disabledResultSpeed</string>
	<key>intensityFunctionBound</key>
	<string>pivotalRowForce</string>
	<key>keySignatureSpacing</key>
	<string>mapFrameworkInset</string>
	<key>transitionAdapterOrientation</key>
	<string>builderModeBottom</string>
</dict>
</plist>
