<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delicateInjectionRotation</key>
	<string>pinchableMethodPressure</string>
	<key>displayableChartRight</key>
	<string>viewFacadeType</string>
	<key>fusedManagerKind</key>
	<string>transformerInsideTier</string>
	<key>labelParameterPressure</key>
	<string>switchByComposite</string>
	<key>oldBlocType</key>
	<string>euclideanTopicRight</string>
	<key>textBridgeLocation</key>
	<string>missedConstraintOffset</string>
</dict>
</plist>
