<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowOutsidePlatform</key>
	<string>backwardThemePadding</string>
	<key>cardMethodEdge</key>
	<string>curveThanChain</string>
	<key>listviewNearSystem</key>
	<string>coordinatorLikeParameter</string>
	<key>observerAboutOperation</key>
	<string>exceptionAndPrototype</string>
	<key>sequentialSpriteShade</key>
	<string>backwardResourceVelocity</string>
	<key>signatureCycleRotation</key>
	<string>blocProcessAppearance</string>
	<key>visibleMethodSize</key>
	<string>adaptiveMetadataTail</string>
</dict>
</plist>
