<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerStyleFlags</key>
	<string>lossContextCoord</string>
	<key>compositionalSegueTint</key>
	<string>grainCompositeTint</string>
	<key>kernelUntilVisitor</key>
	<string>zoneThroughMemento</string>
	<key>prevSignatureVelocity</key>
	<string>commandAboutType</string>
	<key>progressbarWithoutContext</key>
	<string>masterUntilKind</string>
	<key>rowProcessHead</key>
	<string>criticalModalForce</string>
	<key>sizedboxForMediator</key>
	<string>builderLayerDensity</string>
	<key>spineStrategyDepth</key>
	<string>switchBeyondMediator</string>
	<key>uniqueServiceFeedback</key>
	<string>routeAtKind</string>
</dict>
</plist>
