<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerFrameworkVisible</key>
	<string>oldMediaqueryVisible</string>
	<key>effectParameterBorder</key>
	<string>grayscaleActivityValidation</string>
	<key>elasticObserverInterval</key>
	<string>widgetScopeInterval</string>
	<key>expandedByActivity</key>
	<string>alertThroughAction</string>
	<key>paddingBesideKind</key>
	<string>richtextPerBridge</string>
	<key>plateThanVariable</key>
	<string>exceptionValueLeft</string>
	<key>popupNearTemple</key>
	<string>isolateBesideCommand</string>
	<key>prevReducerBound</key>
	<string>binaryDecoratorBorder</string>
	<key>spriteWithForm</key>
	<string>draggableSkirtLocation</string>
	<key>transitionVersusParam</key>
	<string>alertPrototypeIndex</string>
</dict>
</plist>
