<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeExponentInset</key>
	<string>numericalCertificateVisibility</string>
	<key>adaptiveResolverResponse</key>
	<string>difficultGiftShape</string>
	<key>respectiveFeatureSkewy</key>
	<string>blocPhaseCenter</string>
	<key>sizeCommandContrast</key>
	<string>normalEffectInterval</string>
</dict>
</plist>
