<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionShapePadding</key>
	<string>extensionAsEnvironment</string>
	<key>crucialSinkDensity</key>
	<string>concreteLayoutDistance</string>
	<key>durationObserverAppearance</key>
	<string>animatedcontainerChainCoord</string>
	<key>entityStyleCount</key>
	<string>workflowByBuffer</string>
	<key>keyLabelType</key>
	<string>alertLikeStrategy</string>
	<key>monsterSystemCenter</key>
	<string>completerTaskInterval</string>
	<key>tappableListviewLocation</key>
	<string>sceneCompositePosition</string>
	<key>usageContextRate</key>
	<string>gridTempleTransparency</string>
	<key>widgetInsideStage</key>
	<string>skinAwayStage</string>
</dict>
</plist>
