<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarAboutStructure</key>
	<string>notificationDespiteTier</string>
	<key>geometricEffectType</key>
	<string>previewCycleName</string>
	<key>methodSystemStyle</key>
	<string>symmetricCoordinatorSkewy</string>
	<key>standaloneRepositoryHue</key>
	<string>singletonProxyFormat</string>
	<key>unsortedRouteSkewy</key>
	<string>comprehensiveTitleHue</string>
</dict>
</plist>
