<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisMediatorTag</key>
	<string>synchronousBoxAppearance</string>
	<key>constraintAwayType</key>
	<string>visibleResolverMargin</string>
	<key>drawerBufferBound</key>
	<string>awaitVarTheme</string>
	<key>errorFrameworkTop</key>
	<string>sliderVarForce</string>
	<key>frameValueLeft</key>
	<string>singletonStageState</string>
	<key>groupProxyBorder</key>
	<string>lazyEventFlags</string>
	<key>primaryProjectEdge</key>
	<string>finalLoopDistance</string>
	<key>sliderExceptStyle</key>
	<string>isolateBridgeCenter</string>
	<key>transformerProxyShade</key>
	<string>geometricEventDensity</string>
</dict>
</plist>
