<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeGrainBrightness</key>
	<string>handlerWithoutSingleton</string>
	<key>cubitStyleRotation</key>
	<string>denseSkirtOffset</string>
	<key>liteResultVelocity</key>
	<string>liteClipperBottom</string>
	<key>lostAspectratioSize</key>
	<string>decorationAwayComposite</string>
	<key>menuSinceChain</key>
	<string>petStructureBehavior</string>
	<key>roleActionBorder</key>
	<string>dependencyFormFrequency</string>
</dict>
</plist>
