<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocKindTail</key>
	<string>protocolOutsideSystem</string>
	<key>clipperWithoutParameter</key>
	<string>completerByState</string>
	<key>entropyOfProcess</key>
	<string>basicMethodVisible</string>
	<key>exceptionVariableFormat</key>
	<string>dependencyMethodVisibility</string>
	<key>graphByCycle</key>
	<string>bulletCycleBound</string>
	<key>reactiveMultiplicationColor</key>
	<string>iterativeQueryInset</string>
	<key>similarBinaryEdge</key>
	<string>missedHistogramVelocity</string>
	<key>smartNodeInterval</key>
	<string>projectionCommandOpacity</string>
</dict>
</plist>
