<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedResponseCoord</key>
	<string>dynamicMatrixTension</string>
	<key>beginnerSizeTheme</key>
	<string>heapAlongVar</string>
	<key>easyGridviewAcceleration</key>
	<string>riverpodSinceJob</string>
	<key>largeLocalizationMomentum</key>
	<string>builderNearProcess</string>
	<key>workflowLikeFramework</key>
	<string>handlerPrototypeMargin</string>
</dict>
</plist>
