<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>integerInterpreterLocation</key>
	<string>mediaIncludeCommand</string>
	<key>sophisticatedSineTag</key>
	<string>inactiveStepMomentum</string>
	<key>statefulGrayscaleCoord</key>
	<string>visibleAnimationCount</string>
	<key>subscriptionSingletonOrientation</key>
	<string>flexibleMethodResponse</string>
</dict>
</plist>
