<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectVariableOpacity</key>
	<string>semanticParticleName</string>
	<key>hardRadiusOrientation</key>
	<string>coordinatorPerChain</string>
	<key>marginInsideVisitor</key>
	<string>configurationStageOrientation</string>
	<key>notificationCompositeSpacing</key>
	<string>constraintFormName</string>
	<key>specifyUsageStatus</key>
	<string>denseSingletonMomentum</string>
</dict>
</plist>
