<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocContainContext</key>
	<string>channelWorkSkewy</string>
	<key>diffableFrameVisible</key>
	<string>layoutParameterRate</string>
	<key>intuitiveThreadDelay</key>
	<string>integerMediatorSpacing</string>
	<key>listenerModeCount</key>
	<string>subpixelProcessValidation</string>
	<key>operationOperationVelocity</key>
	<string>routeOrSingleton</string>
	<key>routeProxyBottom</key>
	<string>dependencyPatternTag</string>
	<key>transitionVersusInterpreter</key>
	<string>bitrateTaskHue</string>
</dict>
</plist>
