<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasIncludeBridge</key>
	<string>interpolationActionInteraction</string>
	<key>consultativeFrameDensity</key>
	<string>behaviorBeyondProcess</string>
	<key>euclideanReducerInteraction</key>
	<string>normalRequestPressure</string>
	<key>interactorUntilPhase</key>
	<string>toolTaskTension</string>
	<key>requestInterpreterBorder</key>
	<string>factoryAgainstNumber</string>
	<key>touchActionTension</key>
	<string>functionalMonsterSkewx</string>
</dict>
</plist>
