<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableUsageMomentum</key>
	<string>storyboardBesideObserver</string>
	<key>decorationContainAdapter</key>
	<string>mobileParameterState</string>
	<key>discardedImageSpeed</key>
	<string>immutableIsolateBehavior</string>
	<key>labelFlyweightShade</key>
	<string>previewInMemento</string>
	<key>specifyStoreDelay</key>
	<string>spineAroundCommand</string>
	<key>topicIncludeFramework</key>
	<string>integerOfAction</string>
	<key>unaryVisitorResponse</key>
	<string>mediumSizedboxTension</string>
	<key>visibleChannelsCoord</key>
	<string>logBeyondFramework</string>
</dict>
</plist>
