<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerParticleIndex</key>
	<string>configurationMementoScale</string>
	<key>secondPositionedVisible</key>
	<string>inheritedLayoutCoord</string>
	<key>storeFunctionDirection</key>
	<string>smallTaskTint</string>
	<key>subscriptionMementoSkewx</key>
	<string>buttonBesideJob</string>
	<key>symmetricConvolutionOrientation</key>
	<string>materialProjectionMargin</string>
</dict>
</plist>
