<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheAgainstContext</key>
	<string>routerPhaseRight</string>
	<key>grainStrategySkewx</key>
	<string>builderContainTask</string>
	<key>imperativeDropdownbuttonShape</key>
	<string>sliderAsLevel</string>
	<key>mobxProxySkewy</key>
	<string>axisAtPrototype</string>
	<key>normVersusFacade</key>
	<string>containerMementoVelocity</string>
	<key>scaffoldAroundLayer</key>
	<string>integerJobInteraction</string>
</dict>
</plist>
