<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoMetadataBorder</key>
	<string>presenterAwayActivity</string>
	<key>cacheStageColor</key>
	<string>scrollableCurveFlags</string>
	<key>convolutionSinceSystem</key>
	<string>semanticFeaturePressure</string>
	<key>lastRichtextFrequency</key>
	<string>textureBeyondAction</string>
	<key>nextConvolutionCoord</key>
	<string>permissiveStorageBehavior</string>
	<key>robustIconMargin</key>
	<string>smartTimerAcceleration</string>
</dict>
</plist>
