<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveAspectratioLeft</key>
	<string>borderCycleOpacity</string>
	<key>gesturedetectorOrTemple</key>
	<string>keyRouteLeft</string>
	<key>interactiveConsumerMargin</key>
	<string>serviceFunctionRotation</string>
	<key>nibContainTier</key>
	<string>utilAwayChain</string>
	<key>offsetContextTension</key>
	<string>richtextBufferColor</string>
	<key>richtextCompositeRate</key>
	<string>baseLayerTheme</string>
	<key>tangentAroundSystem</key>
	<string>buttonPrototypeLeft</string>
</dict>
</plist>
