<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileContainerResponse</key>
	<string>presenterOrType</string>
	<key>checkboxSinceAdapter</key>
	<string>gridviewAboutTemple</string>
	<key>controllerDecoratorCount</key>
	<string>diversifiedFutureShade</string>
	<key>largeLogState</key>
	<string>currentNavigatorTail</string>
	<key>newestSingletonTag</key>
	<string>signatureLevelFrequency</string>
	<key>sampleAgainstFacade</key>
	<string>constraintForNumber</string>
</dict>
</plist>
