<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterJobStatus</key>
	<string>containerWorkOpacity</string>
	<key>entityObserverCount</key>
	<string>sustainableIntensityVisibility</string>
	<key>retainedParticleRight</key>
	<string>layerInsideInterpreter</string>
	<key>specifyLocalizationOrigin</key>
	<string>signAroundKind</string>
</dict>
</plist>
