<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystValueScale</key>
	<string>grainForShape</string>
	<key>graphAndTemple</key>
	<string>unactivatedPaddingShape</string>
	<key>listenerActionSpeed</key>
	<string>subscriptionDuringMode</string>
	<key>masterStateSize</key>
	<string>screenModeShade</string>
	<key>materialPromiseResponse</key>
	<string>webMobileLocation</string>
	<key>mediumMediaqueryDensity</key>
	<string>substantialGroupFlags</string>
	<key>resilientDelegateForce</key>
	<string>liteQueueBrightness</string>
	<key>responsivePriorityHue</key>
	<string>sequentialResourceHue</string>
	<key>symmetricSizeResponse</key>
	<string>tappableCompleterPosition</string>
	<key>unactivatedOffsetLocation</key>
	<string>loopVisitorContrast</string>
</dict>
</plist>
