<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncPopupOpacity</key>
	<string>heroVarBound</string>
	<key>callbackAtSystem</key>
	<string>compositionThroughAction</string>
	<key>capsuleInsideAction</key>
	<string>normalPreviewOrigin</string>
	<key>ephemeralObserverFeedback</key>
	<string>projectionForActivity</string>
	<key>hashStyleIndex</key>
	<string>segueFormPosition</string>
	<key>iterativeMapHue</key>
	<string>queryCommandSpacing</string>
	<key>matrixCycleCount</key>
	<string>featureWithDecorator</string>
	<key>sinkWithContext</key>
	<string>cosineAlongChain</string>
	<key>taskViaBuffer</key>
	<string>geometricDropdownbuttonMomentum</string>
</dict>
</plist>
